@charset "UTF-8";
body{
    background-color: rgb(69, 69, 69);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
div{
    background-color: #DEDEDE;
    padding: 10px;

}
h1{
    color: darkgoldenrod;
    font-size: 35px;
}
h2{
    color: rgb(125, 92, 8);
}
a{
    color: black;
    font-weight: 750;
    font-size: 17px;
}

a:hover{
    color: #B8860B;
    text-decoration: none;
}
img{
    width: 60px;
    display: inline-block
}